@import '../variables';

.new-skill-div {
    @extend %flex-col;
    align-items: center;
    margin-top: 20px;
}
.skill-form {
    height: 600px;
    width: 800px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.skill-form-inputs {
    @extend %flex-col;
    justify-content: center;
    width: 400px;
    padding: 30px;
    border-radius: $border-rad;
    border: 1px solid blue;
}

.skill-form-input {
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
}

.skill-form-description {
    height: 80px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: $border-rad;
}

.skill-form-buttons {
    display: inline-flex;
    justify-content: flex-end;
    border: 1px solid green;
}

.error {
    color: red;
    font-weight: 600;
}