@import 'variables';

.dashboard-container {
    padding: 30px 0;
    height: calc(100% - 30px);
    max-width: 1920px;
}

.dashboard {
    border: 1px solid red;
    height: 100%;
    
}

.dashboard-header {
    border: 1px solid red;
}
.dashboard-header > h1 {
    font-size: 28px;
}

.dashboard-header > p {
    font-size: 20px;
    margin-bottom: 10px;
}

.dash-content {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.content-main {
    width: 68%;
    height: 1000px;
    border: 1px solid blue
}

.content-side {
    width: 30%;
    height: 500px;
    border: solid 1px green;
}

