@import 'variables.scss';

.landing-page {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    z-index: 1px;
    background: rgb(146,191,67);
    background: linear-gradient(38deg, rgba(146,191,67,1) 40%, rgba(255,223,100,1) 100%);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-text{
    letter-spacing: 3px;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

.landing-logo {
    max-height: 75px;
    max-width: 75px;
    display: flex;
}

.landing-left {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 700px;
    margin-bottom: 20px;
}

.landing-words {
    display: inline-flex;
}

#bold {
    font-weight: bold;
}

.text-left {
    padding-top: 100px;
    width: 300px;
    font-size: 34px;
}

.bottom-text {
    font-size: 34px;
    width: 700px;
}

.landing-img {
    height: 400px;
    width: 400px;
}

.landing-ending {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.top-session-btns {
    display: inline-flex;
    justify-content: space-between;
    min-width: 700px;
}

.top-session-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
}

.top-session-btn:hover, .bottom-session-btn:hover{
    text-decoration: underline;
    font-weight: bolder;
}

.bottom-session-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 700px;
}

.bottom-session-btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 100px;
}

.closing-text {
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
}

#landing-title {
    font-size: 40px;
}

.landing-content {
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-child {
    scroll-snap-align: start;
}

#scroll-sym {
    height: 40px;
    width: 40px;
    margin-top: 170px;
    opacity: 0.5;
}