@import 'variables';

#navbar-container{
    height: 50px;
    justify-content: center;
    display: flex;
    width: 100%;
    background-color: rgba(46, 58, 24, 0.687);
}

#navbar {
    position: sticky;
    top: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 50px;
    border-left: 1px solid black;
}

#nav-left, #nav-right {
    display: flex;
    align-items: center;
    height: 100%;
}
#nav-left > a, #nav-right > a, .nav-right-btn {
    width: 104px;
    padding: 12px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:  14px;
    overflow: hidden;
    color: $pale-green;
    border-right: 1px solid black;
}

#navbar-logo{
  height: 40px;
  width: 45px;
  margin: 3px;
  margin-right: 20px;

}

#nav-left > a {
    border-right: 1px solid black;
}

#nav-right > a {
    border-left: 1px solid black;
}

#navbar-container{
  Link:hover, a:hover{
    text-decoration: underline;
  }
}

#search {
    margin: 5px 15px;
    width: 322px;
    height: 27px;
    font-size: 15px;
    line-height: 18px;
    border: none;
    border-radius: 4px;
    padding: 7px 8px;
    background-color: #e1e1e1;
    color: rgb(153, 153, 153);
}

.searchbar {
    width: 100%;
    margin-right: 0;
}

#timer {
    display: flex;
    height: 100%;
    width: 100px;
    align-items: center;
    justify-content: center;
}

#clock {
    color: yellowgreen;
    font-size: 30px;
}

#dashboard-tabs.active {
    background-color: $bright-yellow;
}

.logout-nav {
    border-left: 1px solid black;
}

    // .home {
    //     margin-right: 125px;
    // }

    .space {
        width: 125px;
    }