@import 'variables';

#results-index {
    padding: 20px;
}

.search-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    height: calc(100% - 45px);
    margin: 0 30px;
}

.user-results, .skill-results {
    min-height: 200px;
}

.user-results > h1, .skill-results > h1 {
    font-size: 28px;
    color: grey;
    padding-bottom: 4px;
    border-bottom: 1px solid $dark-green;
}

#search-skill {
    font-weight: bold;
}

.searchbar {
    margin-right: 125px;
}
