@import 'variables';

#results-index {
    padding: 20px;
}

.user-results > h1, .skill-results > h1 {
    font-size: 28px;
    color: grey;
    padding-bottom: 4px;
    border-bottom: 1px solid $dark-green;
}

#search-skill {
    font-weight: bold;
}