.task-card {
    background-color: greenyellow;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.task-card-content {
    padding: 10px;
}

textarea {
    resize: none;
}