//colors
$light-green: #D4E6B5;
$pale-green: #effcd5;
$dark-green: #AFC97E;
$yellow: #ffeb53af;
$bright-yellow: #FFDF64;
$brown: #566f54;

// flex extensions
// use: @extend <extend-name>
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-col {
    display: flex;
    flex-direction: column;
}
%flex-row {
    display: flex;
    flex-direction: row;
}

//misc 
$border-rad: 4px; //border-radius