@import 'variables';

// #skill-accordion{
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }

// .btn-link > p{
//     width: fit-content;
// }

.social-task-container {
    background-color: $yellow;
    border: 1px solid $dark-green;
    border-radius: 10px;
    padding: 10px 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .8s;
    margin-bottom: 10px;
}


.social-task-container:hover {
  transform: scale(1.02);
  background: $dark-green;
  .social-username {
    transform: scale(1.02);
    color: $bright-yellow;
  }
  .social-user-message{
    display:none;
  }
  .user-info{
    justify-content: center;
  }
  .social-task-title, .social-task-skill{
    color: $light-green;
  }
}

.social-task-title {
  color: $brown;
  font-weight: bolder;
}

.social-task-skill {
    color: $brown;
}

#social-task-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid $dark-green;
}

.user-info {
  display:flex;
  align-items: center;
}

.social-username {
  font-size: 24px;
  font-weight: bold;
  color: $dark-green;
  margin-right: 5px;

}

.social-user-message {
  font-size: 14px;
}

.social-task-list {
  margin: 10px;
  box-sizing: border-box;

}

.time-and-date {
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}