@import '../variables.scss';

.footer-field {
  width: 100%;
  height: 45px;
  bottom: 0;
  text-align: center;
  background-color: rgba(46, 58, 24, 0.687);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid $dark-green;
}

.footer-child {
  margin: 20px;
}

.footer-child > a {
  color: $light-green;
}

a:hover {
  color: $brown;
}
